<style>
    footer {
      display: flex;
      gap: 1rem;
      font-size: 0.8em;
      margin-top: 2rem;
    }
</style>
<footer>
    Collected by Adam Hyland (<a href="https://adampunk.com">adampunk.com</a>). Contact me there or protonk at gmail with updates, questions, or corrections.
</footer>