<style>
    footer {
      display: flex;
      gap: 1rem;
      margin-top: 2rem;
    }
</style>
<footer>
    Contact: <a href="https://www.hcde.washington.edu/profiles/students/profile.php?id=485">achyland @ UW</a> 'dot' edu
</footer>